@page "/toprated"
@inject TMDBCLient TMDB
@inject NavigationManager Nav

<PageTitle>Blazor Movie: Top Rated Movies</PageTitle>

<div class="container-xxl py-3">
    <div>
        <h1 class="display-6">
            <span class="text-danger">
                <i class="bi bi-fire"></i>
            </span>
            Top Rated Movies
        </h1>
    </div>
    <MovieListComponent Movies="movies?.Results"
                        CurrentPage="movies?.Page ?? 1"
                        TotalPages="movies?.TotalPages ?? 1"
                        OnPageChanged="GetPage" />
</div>

@code {
    private PopularMoviePagedResponse? movies;

    [SupplyParameterFromQuery]
    public int Page { get; set; } = 1;

    protected override async Task OnParametersSetAsync()
    {
        if (Page < 1) Page = 1;
        if (Page > 500) Page = 500; 

        var category = "top_rated";
        movies = await TMDB.GetMoviesAsync(category, Page);
    }

    private void GetPage(int pageNum)
    {
        string url = Nav.GetUriWithQueryParameter("page", pageNum);
        Nav.NavigateTo(url);
    }
}